@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body
{
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #cfd2da;
  background-color: #333;
}

a
{
	color: #cfd2da;
}

a:hover
{
	color: #252830;
	text-decoration: none;
}

.center
{
	text-align: center;
}

#ConsoleController .Output
{
	font-family: monospace;
    font-size: 12px;
	white-space: pre-wrap;
    color: lime;
}

.scrollable 
{
	overflow: auto;
}


.nav-sidebar 
{
	margin-top: 64px;
  margin-right: 16px;
}

.nav-sidebar > li > a 
{
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus 
{
  color: #fff;
  background-color: #252830;
}

.fade 
{
	opacity: 0.5;
}

.table > tbody > tr:hover
{
	background-color: rgba( 255, 255, 255, 0.3 );
}

.table > thead > tr > th.sorting 
{
	color: #1bc98e;
	border-color: #1bc98e;
}

.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 0;
}


.panel 
{
	background-color: #434857;
}

.chatname
{
	display: block;
	width: 200px;
	float: left;
	text-align: right;
	padding-right: 8px;
}

.navbar-default
{
	background-color: #252830;
    background-image: none;
    border: none;
    border-radius: 0;
    color: #cfd2da;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover
{
    color: #cfd2da;
}

.navbar-default .navbar-nav > li > .navbar-text,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #cfd2da;
}

.navbar-default .navbar-nav > li > a:hover
{
	background-color: rgba( 255, 255, 255, 0.25 );
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a
{
	background-color: white;
	background-image: none;
    border: none;
	color: #428bca;
}

.navbar-info
{
	position: relative;
    display: block;
    padding: 15px;
	line-height: 20px;
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}