<div ng-controller="ConsoleController" id="ConsoleController">

    <div style="height: 600px" class="Output scrollable">
		<div ng-repeat="line in Output" ng-class="line.Class"><span class="label label-primary">{{(line.Time * 100) | date:'shortTime'}}</span>:   {{line.Message}}</div>
    </div>
	<form ng-submit="SubmitCommand()">
		<label for="ex1_value" style="display: inline-block; color: #fff; margin-left: 0; float: left; font-size: 17px; line-height: 36px;" class="active">&gt;_</label>
			<div angucomplete-alt id="ex1"
				 placeholder="Search commands"
				 maxlength="50"
				 pause="100"
				 selected-object="selectedCountry"
				 local-data="commands"
				 search-fields="name"
				 title-field="name"
				 minlength="1"
				 input-class="form-control form-control-small"
				 ng-model="Command"
				 match-class="highlight"></div>
	</form>
	<form ng-submit="SubmitCommand()">
		<input type="text" class="form-control" ng-model="Command" ng-keyup="KeyUp($event)" />
	</form>
</div>